[submodule "plugins/modules"]
	path = plugins/modules
	url = https://github.com/FatmanUK/ansible_modules.git
[submodule "manifests/postgres-system"]
	path = manifests/postgres-system
	url = https://github.com/FatmanUK/k3s_postgres_replicator
