---
apiVersion: v1
kind: Namespace
metadata:
  name: elastic-system
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: elastic-pv-claim
  namespace: elastic-system
spec:
  storageClassName: {{ app_storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ elasticsearch_disk_size_gb }}Gi
---
apiVersion: v1
kind: Service
metadata:
  name: elasticsearch
  namespace: elastic-system
  labels:
    service: elasticsearch
spec:
 clusterIP: 10.43.208.37
 ports:
 - port: {{ elasticsearch_ui_port }}
   name: serving
 - port: {{ elasticsearch_internal_port }}
   name: node-to-node
 selector:
   service: elasticsearch
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: elasticsearch
  namespace: elastic-system
  labels:
    service: elasticsearch
spec:
  serviceName: elasticsearch
  replicas: 3
  selector:
    matchLabels:
      app: elasticsearch
      service: elasticsearch
  template:
    metadata:
      labels:
        app: elasticsearch
        service: elasticsearch
    spec:
      containers:
      - name: elasticsearch
        image: docker.elastic.co/elasticsearch/elasticsearch-oss:{{ elasticsearch_version }}
        resources:
            limits:
              cpu: 1000m
              memory: 6Gi
            requests:
              cpu: 100m
              memory: 4Gi
        ports:
          - containerPort: {{ elasticsearch_ui_port }}
            name: rest
            protocol: TCP
          - containerPort: {{ elasticsearch_internal_port }}
            name: inter-node
            protocol: TCP
        volumeMounts:
          - name: data
            mountPath: /usr/share/elasticsearch/data
        env:
          - name: cluster.name
            value: k3s-logs
          - name: node.name
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: discovery.seed_hosts
            value: "elasticsearch-0,elasticsearch-1,elasticsearch-2"
          - name: cluster.initial_master_nodes
            value: "elasticsearch-0,elasticsearch-1,elasticsearch-2"
          - name: ES_JAVA_OPTS
            value: "-Xms512m -Xmx512m"
        volumeMounts:
        - name: data
          mountPath: /usr/share/elasticsearch/data
      terminationGracePeriodSeconds: 300
      initContainers:
      - name: fix-the-volume-permission
        image: docker.io/rancher/mirrored-library-busybox:{{ busybox_version }}
        command:
        - sh
        - -c
        - chown -R 1000:1000 /usr/share/elasticsearch/data
        securityContext:
          privileged: true
        volumeMounts:
        - name: data
          mountPath: /usr/share/elasticsearch/data
      - name: increase-the-vm-max-map-count
        image: docker.io/rancher/mirrored-library-busybox:{{ busybox_version }}
        command:
        - sysctl
        - -w
        - vm.max_map_count=262144
        securityContext:
          privileged: true
      - name: increase-the-ulimit
        image: docker.io/rancher/mirrored-library-busybox:{{ busybox_version }}
        command:
        - sh
        - -c
        - ulimit -n 65536
        securityContext:
          privileged: true
  volumeClaimTemplates:
  - metadata:
      name: data
      labels:
        app: elasticsearch
    spec:
      accessModes:
        - ReadWriteOnce
      storageClassName: {{ app_storage_class }}
      resources:
        requests:
          storage: {{ elasticsearch_disk_size_gb }}Gi
