---
apiVersion: v1
kind: Service
metadata:
  name: kibana
  namespace: elastic-system
  labels:
    app: kibana
spec:
  type: LoadBalancer
  loadBalancerIP: {{ loadbalancer_pool_network | ipv4(elasticsearch_fourth_byte) | ipv4("address") }}
  ports:
  - port: {{ kibana_ui_port }}
  selector:
    app: kibana
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana
  namespace: elastic-system
  labels:
    app: kibana
spec:
  replicas: 3
  selector:
    matchLabels:
      app: kibana
  template:
    metadata:
      labels:
        app: kibana
    spec:
      containers:
      - name: kibana
        image: docker.elastic.co/kibana/kibana:{{ elasticsearch_version }}
        resources:
          limits:
            cpu: 1000m
          requests:
            cpu: 100m
        env:
          - name: ELASTICSEARCH_URL
            value: http://elasticsearch:{{ elasticsearch_ui_port }}
        ports:
        - containerPort: {{ kibana_ui_port }}
