---
apiVersion: v1
kind: Namespace
metadata:
  name: postgres-system
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pv-claim
  namespace: postgres-system
spec:
  storageClassName: {{ app_storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ postgresql_disk_size_gb }}Gi
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret-config
  namespace: postgres-system
type: Opaque
data:
  password: {{ postgresql_secret_b64 }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: postgres-system
spec:
  replicas: {{ postgresql_replicas }}
  template:
    metadata:
      labels:
        service: postgres
        app: postgres
    spec:
      containers:
        - name: postgres
          image: docker.io/library/postgres:{{ postgresql_version }}
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: {{ postgresql_port }}
          env:
            - name: POSTGRES_DB
              value: {{ postgresql_database }}
            - name: POSTGRES_USER
              value: {{ postgresql_user }}
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret-config
                  key: password
            - name: PGDATA
              value: {{ postgresql_data_path }}/pgdata
          volumeMounts:
            - mountPath: {{ postgresql_data_path }}
              name: postgres-pv-storage
      volumes:
        - name: postgres-pv-storage
          persistentVolumeClaim:
            claimName: postgres-pv-claim
  selector:
    matchLabels:
      service: postgres
      app: postgres
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: postgres-system
  labels:
    app: postgres
spec:
  type: LoadBalancer
  loadBalancerIP: {{ loadbalancer_pool_network | ipv4(postgresql_fourth_byte) | ipv4("address") }}
  ports:
    - port: {{ postgresql_port }}
  selector:
    service: postgres
    app: postgres
