---
apiVersion: v1
kind: Config
current-context: {{ cluster_name }}
contexts:
- name: {{ cluster_name }}
  context:
    cluster: {{ cluster_name }}
    user: {{ cluster_admin_user }}
clusters:
- name: {{ cluster_name }}
  cluster:
    certificate-authority-data: {{ cluster_ca_cert }}
    server: {{ cluster_endpoint }}
users:
- name: {{ cluster_admin_user }}
  user:
    token: {{ sa_secret_token }}
...
